<div class="base-content">
  <% if user_signed_in? && @user == current_user %>
    <h1 class="text-center">マイページ</h1>
    <p class="text-center">(<%= @user.nickname %>)<%= link_to "変更", edit_user_path(current_user), class: "badge badge-primary" %></p>
  <% else %>
    <h1 class="text-center">ユーザーページ</h1>
    <p class="text-center">(<%= @user.nickname %>)</p>
  <% end %>


  <div class="row">
    <div class="col-md-6 mt-5">
      <h3 class="text-center">アバター画像</h3>
      <div class="d-flex justify-content-center"><%= image_tag @user.avatar.url, class: "rounded-circle mt-1" %></div>
      <% if user_signed_in? && @user == current_user %>
        <%= render "form" %>
      <% end %>
    </div>
    <div class="col-md-6 mt-5">
      <h3 class="text-center col-md-12">公開中のステータス</h3>
      <% @statuses.each do |status| %>
        <table>
          <tr>
            <td width=40>性別</td>
            <td><%= status.sex_i18n %></td>
          </tr>
          <tr>
            <td>年齢</td>
            <td><%= status.age_i18n %></td>
          </tr>
          <tr>
            <td>身長</td>
            <td><%= status.height_i18n %></td>
          </tr>
          <tr>
            <td>体重</td>
            <td><%= status.weight_i18n %></td>
          </tr>
          <tr>
            <td>体型</td>
            <td><%= status.body_type_i18n %></td>
          </tr>
          <tr>
            <td>食事</td>
            <td><%= status.meal_i18n %></td>
          </tr>
          <tr>
            <td>運動</td>
            <td><%= status.movement_i18n %></td>
          </tr>
          <tr>
            <td>睡眠</td>
            <td><%= status.sleep_i18n %></td>
          </tr>
          <tr>
            <td>環境</td>
            <td><%= status.environment_i18n %></td>
          </tr>
          <tr>
            <td>年収</td>
            <td><%= status.annual_income_i18n %></td>
          </tr>
        </table>
      <% end %>
      <%# btnの高さが揃わない %>
      <div class="d-flex justify-content-center mt-4 pt-1">
        <% if user_signed_in? && @user == current_user %>
          <% if @statuses.blank? %>
            <%= link_to "作成", new_status_path(current_user), class: "btn btn-primary btn-block" %>
          <% else %>
            <%= link_to "変更", edit_status_path(current_user), class: "btn btn-primary btn-block" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="mt-5">
    <h3 class="mt-5">いいね一覧</h3>
    <div class="row">
      <%= render @like_posts %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @like_posts %>
    </div>

    <hr>
    <h3 class="mt-5">投稿一覧</h3>
    <div class="row">
      <%= render @posts %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @posts %>
    </div>
    <hr>
  </div>
</div>
