<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h3><%= @user.nickname %>のユーザーページ</h3>

<h5>いいね一覧</h5>
<%= render @like_posts %>
<h5>投稿一覧</h5>
<%= render @posts %>

<h5>公開中のステータス</h5>
<% @statuses.each do |status| %>
  <p>
    性別： <%= status.sex_i18n %>
  <br>
    年齢：<%= status.age_i18n %>
  <br>
    身長：<%= status.height_i18n %>
  <br>
    体重：<%= status.weight_i18n %>
  <br>
    体型：<%= status.body_type_i18n %>
  <br>
    食事：<%= status.meal_i18n %>
  <br>
    運動：<%= status.movement_i18n %>
  <br>
    睡眠：<%= status.sleep_i18n %>
  <br>
    環境：<%= status.environment_i18n %>
  <br>
    年収：<%= status.annual_income_i18n %>
  </P>
<% end %>

<% if user_signed_in? && @user == current_user %>
<%= link_to "プロフィールの編集", edit_user_path(current_user) %>
  <% if @statuses.blank? %>
   <%= link_to "ステータスの作成", new_status_path(current_user) %>
  <% else %>
   <%= link_to "ステータスの編集", edit_status_path(current_user) %>
  <% end %>
<% end %>
