<div>
  <%= form.label :name %>
  <%= form.text_field :name, readonly: true %>
  <%= form.hidden_field :name %>
</div>
<div>
  <%= form.label :email %>
  <%= form.text_field :email, readonly: true %>
  <%= form.hidden_field :email %>
</div>
<div>
  <%= form.label :content %>
  <%= form.text_area :content, readonly: true %>
  <%= form.hidden_field :content %>
</div>
