<%= render "layouts/error_messages" %>
<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: "form-control", required: true, maxlength: 50 %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 10, required: true, maxlength: 500 %>
  </div>
  <%= f.fields_for :graphs do |graph| %>
    <div class="form-group">
      <%= graph.label :pain %>
      <%= graph.number_field :pain, min: 0, max: 5 %>
    </div>
    <div class="form-group">
      <%= graph.label :fatigue %>
      <%= graph.number_field :fatigue, min: 0, max: 5%>
    </div>
    <div class="form-group">
      <%= graph.label :obesity %>
      <%= graph.number_field :obesity, min: 0, max: 5 %>
    </div>
    <div class="form-group">
      <%= graph.label :anxiety %>
      <%= graph.number_field :anxiety, min: 0, max: 5 %>
    </div>
    <div class="form-group">
      <%= graph.label :insomnia %>
      <%= graph.number_field :insomnia, min: 0, max: 5 %>
    </div>
    <div class="form-group">
      <%= graph.label :other %>
      <%= graph.number_field :other, min: 0, max: 5 %>
    </div>
  <% end %>
  <p><%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %></p>
  <div>
    <div class="post">
      <div class="ingredients">
        <div class="mx-auto">
          <%= f.fields_for :ingredients do |t| %>
            <%= render "posts/ingredient_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point1"></div>
        <div class="col-10 mx-auto mt-2">
          <%= link_to_add_association "+フォームを追加", f, :ingredients,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point1',
        association_insertion_method: 'append'
        }%>
        </div>
      </div>
    </div>
    <div class="post">
      <div class="how_to_makes">
        <div class="mx-auto">
          <%= f.fields_for :how_to_makes do |t| %>
            <%= render "posts/how_to_make_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point2"></div>
        <div class="col-10 mx-auto mt-2">
          <%= link_to_add_association "+フォームを追加", f, :how_to_makes,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point2',
        association_insertion_method: 'append'
        }%>
        </div>
      </div>
    </div>
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
