<div>
  <p>【メールアドレス】 <%= post.user.email %></p>
  <p>【内容】 <%= post.content %></p>
  <p id="post-<%= post.id %>">
    <% if post.liked_by?(current_user) %>
      <%= render "like", post: post %>
    <% else %>
      <%= render "dislike", post: post %>
    <% end %>
  </p>
  <p>
    <%= link_to "詳細", post %>
    <% if current_user.id == post.user_id %>
      <%= link_to "編集", edit_post_path(post) %>
      <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
</div>
<hr>
